@import url('https://fonts.googleapis.com/css2?family=Federo&display=swap');

:root {
    --primary: #7f1ab9;
    --text: white;
    --footer: rgb(28, 12, 70);
}

body {
    margin: 0px;
    font-family: 'Federo', sans-serif;
    width: 100%;

}

.header {
    background-color: var(--primary);
    color: var(--text);
    text-align: center;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    font-size: larger;

}

.description {
    width: 80%;
    text-align: center;
    padding: 1rem;
    margin: 1rem auto;
    font-size: large;
}

.container {
    display: block;
    margin: 1rem auto;
    padding: 1rem;
    text-align: center;

}

.input-container {

    margin: 0 auto;
    text-align: center;
    padding: 1rem;
}

label {
    font-size: large;
    font-weight: bold;
}

.input {

    -moz-appearance: textfield;
    margin: 1rem;
    height: 2.5rem;
    width: 30%;
    border: 3px solid grey;
    border-radius: 1rem;
    font-size: large;
    text-align: center;
}

.input::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button {

    -webkit-appearance: none;

}

.input:hover {

    border-color: var(--primary);
    transition: 1s;
}

caption {
    color: var(--primary);
    font-weight: 800;
    font-size: larger;
    margin: 1rem;
}

.error-text {
    font-size: large;
    font-weight: 800;
    color: red;
}

.btn-container {
    text-align: center;

}

.check-btn {

    height: 50px;
    width: 150px;
    color: var(--primary);
    font-size: large;
    border-radius: 2rem;
    font-family: 'Federo', sans-serif;
    border-color: var(--primary)
}

.check-btn:hover {
    color: white;
    background-color: var(--primary);
    transition: 0.5s;
    cursor: pointer;
}

.next-btn {
    height: 50px;
    width: 150px;
    color: var(--primary);
    font-size: large;
    border-radius: 2rem;
    font-family: 'Federo', sans-serif;
    border-color: var(--primary)
}

.next-btn:hover {
    color: white;
    background-color: var(--primary);
    transition: 0.5s;
    cursor: pointer;
}

.check-btn:focus {
    color: white;
    background-color: var(--primary);
}

.table-container {

    margin: 0 auto;
    width: auto;


}

table {

    margin: 3rem auto;
    border-collapse: collapse;



}



table tr td {
    padding: 1rem;
    border: 1px solid var(--primary);
    width: 15%;
    height: 30px;
    font-weight: 700;
    font-size: large;


}

table tr th {
    background-color: var(--primary);
    color: var(--text);
    padding: 1rem;
    border-right: 1px solid white;
}



footer p {
   border-top: 1px solid var(--primary);
    padding: 2rem;
   
    color:rgb(121, 121, 121);
    font-weight: bold;
    

}